/********
CSS Reset
*********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/***********
Basic Styling
************/

body {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    /* line-height: 1.8em; */
}

/*****************
Intro Welcome Page
******************/

.welcome {
    max-width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #6e7bf0, #c2bfbf);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh;
    width: 100%;

    position: relative; */
}

.welcome-container {
    background-color: #4DA8DA;
    width: 100%;
    height: 40%;
    transform: skewY(-11deg);
    box-shadow:
    -4px -4px 5px 0 rgba(255,255,255,0.3),
    7px 10px 6px 0 rgba(88, 88, 88, 0.35);
}

.welcome img {
    margin-top: 40px;
}

.welcomeText {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    transform: skewY(11deg);
}

#name {
    font-size: 3em;
    color: rgba(255, 255, 255, 0.911);
    font-family: sans-serif;
    font-weight: 700;
}

#webDev {
    font-size: 1.5em;
    letter-spacing: 4px;
    color: rgba(43, 34, 43, 0.658);
    font-weight: 900;
}

#skills {
    padding: 20px;
    letter-spacing: 2px;
    font-size: .75em;
    color: rgba(255, 255, 255, 0.911);
    font-weight: 900;
}

/* .welcomeIcons {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    opacity: .5;
}

.fa-github:hover, .fa-linkedin:hover  {
    opacity: .7;
    cursor: pointer;
} */

a:visited {
    text-decoration: none; color: black;
}

/***************
About Me Section
****************/

.aboutme {
    width: 100%;
    /* background-color: rgb(160, 156, 156); */
    background-image: url(./Assets/Images/aboutme_background.png);
    background-size: cover;
    color: rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.aboutme-card {
    max-width: 100%;
    height: 100%;
    padding: 20px;
    /*
    padding: 30px;
    width: 90%;
    max-height: 90%;
    position: relative;
    box-shadow:
    -4px -4px 5px 0 rgba(255,255,255,0.3),
    7px 10px 6px 0 rgba(88, 88, 88, 0.35);
    line-height: 30px;
    margin: auto; */
}

.bio {
    width: 100%;
    margin-bottom: 10%;
}

.bio > h1 {
    font-size: 5em;
    color: rgb(1, 154, 255);
    font-family: 'Sansita Swashed', cursive;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 10px;
    text-shadow: 2px 2px 10px rgba(0, 89, 255, 0.267);
}

.bio > h2 {
    font-size: 3em;
    margin-bottom: 10px;
    margin-left: 50px;
}

.bio > h3 {
    font-size: 1.5em;
    margin-left: 50px;
}
.bio hr {
    width: 60%;
    margin-left: 50px;
}

.bio > P {
    font-size: .8em;
    width: 80%;
    margin-left: 50px;
    line-height: 30px;
    padding: 10px;
}

.details {
    width: 100%;
}

.details h1 {
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: rgba(14, 124, 197, 0.76);
}

.details ul {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 1.5em;
}

.education {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.details li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
}


.aboutme-pic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

#profilePic1 {
    grid-column: 1 / 4;
    margin: auto;
    width: 400px;
    height: 400px;
    background-color:white;
    box-shadow:
    -4px -4px 5px 0 rgba(255,255,255,0.3),
    7px 10px 6px 0 rgba(88, 88, 88, 0.35);
    background-image: url(./Assets/Images/Profile_pic.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    transition: background-image 700ms;
}

#profilePic2 {
    width: 100px;
    height: 100px;
    background-color:white;
    box-shadow:
    -4px -4px 5px 0 rgba(255,255,255,0.3),
    7px 10px 6px 0 rgba(88, 88, 88, 0.35);
    background-image: url(./Assets/Images/profil_pic2.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

#profilePic3 {
    width: 100px;
    height: 100px;
    background-color:white;
    box-shadow:
    -4px -4px 5px 0 rgba(255,255,255,0.3),
    7px 10px 6px 0 rgba(88, 88, 88, 0.35);
    background-image: url(./Assets/Images/profile_pic3.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

#profilePic4 {
    width: 100px;
    height: 100px;
    background-color:white;
    box-shadow:
    -4px -4px 5px 0 rgba(255,255,255,0.3),
    7px 10px 6px 0 rgba(88, 88, 88, 0.35);
    background-image: url(./Assets/Images/profile_pic4.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

#profilePic2:hover, #profilePic3:hover, #profilePic4:hover {
    opacity: .7;
}

/* #projectsBtn {
    width: 170px;
    height: 50px;
    font-size: 20px;
    color:rgb(88, 85, 85);
    font-family: 'Calibri';
    letter-spacing: 2px;
    border-radius: 300px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.5);
    background: #ccc;
} */

/* #projectsBtn:hover {
    opacity: .8;
    cursor: pointer;
} */

/*************************
Card Styling for Portfolio
**************************/

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
}

.container h1 {
    font-size: 80px;
    margin-top: 50px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.34);
    color: rgba(15, 158, 253, 0.966);
    font-family: sans-serif;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    background-color: rgb(219, 219, 219);
    margin-bottom: 2rem;
}

.card:nth-child(even) img {
    order: 2;
}

.container img {
    width: 100%;
    cursor: pointer;
}

.container img:hover {
    opacity: .7;
}

.card div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

/**********************************
Card Titles and Links for Portfolio
***********************************/

.bug-logo {
    max-width: 50%;
    margin: auto;
    cursor: pointer;
}

.bug-logo:hover {
    opacity: .7;
}

#CodingQuiz {
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

#CodingQuiz:hover {
    opacity: .7;
}

#DinnerDice {
    font-family: 'Lobster', cursive;
    color: #c12026;
    font-size: 90px;
    cursor: pointer;
}

#DinnerDice:hover {
    opacity: .7;
}

#WeatherDash {
    font-weight: 700;
    font-size: 55px;
    cursor: pointer;
}

#WeatherDash:hover {
    opacity: .7;
}

/*************************
Modal Pop-up for Portfolio
**************************/

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.6s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.6s;
}

.modal {
    background-color: white;
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.modal p {
    width: 90%;
}

.modal button {
    padding: 9px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.modal button:hover {
    opacity: .7;
}

#github, #app {
    width: 90%;
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
}

.modal-close:hover {
    opacity: .7;
}

/**************
Contact Me Page 
**************/

.contactPage {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./Assets/Images/aboutme_background_reverse.png);
    background-size: cover;
}

.contactPage h1 {
    font-size: 50px;
    margin: 50px;
    letter-spacing: 6px;
}

.contactBtns {
    margin: 20px;
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.fa-envelope:hover {
    opacity: .7;
    cursor: pointer;
}

/************
Media Queries
************/

@media(max-width: 1000px) {
    .welcome-container {
        background-color: #4DA8DA;
        width: 100%;
        height: 30%;
    }
    .welcomeText {
        font-size: .7em;
    }
    #name {
        font-size: 3em;
        color: rgba(255, 255, 255, 0.911);
        font-family: sans-serif;
        font-weight: 700;
    }
    #webDev {
        letter-spacing: 1px;
    }

    .aboutme {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container h1 {
        font-size: 80px;
    }

    .container h1 {
        font-size: 75px;
    }

    /* .bio h1, h2, h3, p {
        text-align: center;
        margin: auto;
    } */

    .bio h1,
    .bio h2,
    .bio h3,
    .bio hr {
        margin-left: 0px;
        text-align: center;
    }

    .bio > p {
        text-align: center;
        margin: auto;
    }
    .aboutme-card hr {
        margin: auto;
    }

    .card {
        display: block;
        margin-bottom: 100px;
        background-color: inherit;
    }

    .card div {
        width: 100%;
        height: 100px;
    }

    .bug-logo {
        width: 50%;
        margin: auto;
    }

    #CodingQuiz {
        font-size: 35px;
    }

    .modal {
        background-color: white;
        width: 60%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        font-size: 20px;
    }

    .btn-box {
        padding: 9px;
        border-radius: 8px;
        cursor: pointer;
    }

    .modal p {
        font-size: 17px;
    }

    #github, #app {
        font-size: 15px;
        width: 100px;
    }

    .contactPage h1 {
        font-size: 40px;
        margin: 40px;
        letter-spacing: 3px;
    }
    .contactBtns {
        width: 90%;
        font-size: .8em;
    }
}

@media(max-width: 500px) {
    .welcomeText {
        width: 50%;
        text-align: center;
        margin: auto;
        font-size: .5em;
        letter-spacing: 2px
    }
    .container h1 {
        font-size: 50px;
        letter-spacing: 0;
    }

    #profilePic1 {
        max-width: 70%;
        max-height: 70%;
    }
    #CodingQuiz {
        font-size: 25px;
    }

    #DinnerDice {
        font-size: 55px;
    }

    #WeatherDash {
        font-size: 35px;
    }

    .modal {
        width: 90%;
    }

    .btn-box {
        display: flex;
        flex-direction: column;
    }

    .aboutme-card {
        text-align: center;
    }

    .contactPage {
        height: 50vh;
    }
    .contactPage h1 {
        font-size: 25px;
        margin: 2px;
        letter-spacing: 1px;
    }

    .contactBtns {
        width: 80%;
        font-size: .5em;
    }
}