/*** CSS Reset ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Navbar Element For All Pages ***/

nav {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    box-shadow:lightseagreen;
}

.navbar-brand {
    font-size: 40px;
    letter-spacing: 2px;
    margin-left: 20px;
}

/*** Body for All Pages ***/

body {
    background: url(https://img.freepik.com/free-photo/old-gray-cement-wall-backgrounds_34552-324.jpg?size=626&ext=jpg);
    background-size: 100%;
    font-family: 'Oswald', sans-serif; 
    font-weight: 300;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    height: 100vh;
}

/*** Decorative Line for Contact and About Me Page ***/

.solid-line {
    border-style: solid;
    border: 5px lightseagreen;
    height: 5px;
    background-color: lightseagreen;
    margin: 10px;
}

/*** Footer ***/

footer {
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 100%;
    background-color: darkgrey;
    color: black;
    text-align: center;
}

/*** Media Queries ***/

@media (max-width: 400px) {
    body {
        font-size: 20px;
    }
    .container img {
        float: none;
        margin: auto;
        margin-bottom: 15px;
    }
}
