/*** CSS Reset ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Navbar Element For All Pages ***/

nav {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    box-shadow:lightseagreen;
}

.navbar-brand {
    font-size: 40px;
    letter-spacing: 2px;
    margin-left: 20px;
}

/*** Body for All Pages ***/

body {
    background: rgb(214, 212, 212);
    background-size: 100%;
    font-family: 'Oswald', sans-serif; 
    font-weight: 350;
}

/*** Portfolio Styling ***/
.mainContent {
    padding: 10%; 
    height: 100vh;
}

h1 {
    opacity: 0;
    transition-duration: 250ms;
    text-shadow: 4px 4px 6px #7b7b85;;
    color: rgb(19, 19, 19);
}

h1:hover {
    opacity: 1;
    text-align: center;
}


.portfolio-item {
    font-weight: bold; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.one {
    grid-row: span 3;
    background-image: url("Assets/Images/CodingQuiz.png");
    background-size: cover;
    background-position: center;
    opacity: .50;
    transition-duration: 250ms;
    
}

.one:hover {
    opacity: 1;
    border-style: solid;
    border-color: lightseagreen;
    border-width: 1px;
    cursor: pointer;
}

.two {
    grid-row: span 3;
    background-image: url("Assets/Images/DinnerDice.png");
    background-size: cover;
    opacity: .50;
    transition-duration: 250ms;
}

.two:hover {
    opacity: 1;
    border-style: solid;
    border-color: lightseagreen;
    border-width: 1px;
    cursor: pointer;
}

.three {
    grid-row: span 3;
    background-image: url("Assets/Images/PasswordGenerator.png");
    background-size: cover;
    background-position: center;
    opacity: .50;
    transition-duration: 250ms;
}

.three:hover {
    opacity: 1;
    border-style: solid;
    border-color: lightseagreen;
    border-width: 1px;
    cursor: pointer;
}

.four {
    grid-row: span 3;
    background-image: url("Assets/Images/WeatherDashboard.png");
    background-size: cover;
    background-position: center;
    opacity: .50;
    transition-duration: 250ms;
    
}

.four:hover {
    opacity: 1;
    border-style: solid;
    border-color: lightseagreen;
    border-width: 1px;
    cursor: pointer;
}

.portfolio {
    display: grid; 
    height: 100%; 
    grid-template-rows: repeat(6, 1fr); 
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
}

/*** Decorative Line for Contact and About Me Page ***/

.solid-line {
    border-style: solid;
    border: 5px lightseagreen;
    height: 5px;
    background-color: lightseagreen;
    margin: 10px;
}

/*** Footer ***/

footer {
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 100%;
    background-color: darkgrey;
    color: black;
    text-align: center;
}

/*** Media Queries ***/

@media (max-width: 400px) {
    body {
        font-size: 20px;
    }
    .container img {
        float: none;
        margin: auto;
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .one {
        padding: 10%;
    }
    .two {
        padding: 10%;
    }
    .three {
        padding: 10%;
    }
    .four {
        padding: 10%;
    }

    h1 {
        font-size: 2em;
    }
}

@media (max-width: 430px) {
    .one {
        padding: 5%;
    }
    .two {
        padding: 5%;
    }
    .three {
        padding: 5%;
    }
    .four {
        padding: 5%;
    }
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    font-size: large;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal-btn {
    color: white;
    background-color: black;
    padding: 5px 30px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}